body {
    color: #40514E;;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;


    }

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 4;

}

.pro{
    text-decoration: underline;
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p{
    line-height: 2;
}

hr{
    margin: 100px auto;
    border: none;
    border-top: 10px dotted #EAF6F6;
    width: 5%;}



.self-intro{
    width: 30%;
    margin: auto;

}
.my-img{
    width: 25rem;
}

.top-cloud {

    position: absolute;
    right: 300px;
    top: 50px


}
.bottom-cloud  {
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.coding-img{
    float: left;
    width: 25%;
    background-color: aquamarine;
    border-radius: 100%;
    margin-right: 30px;
}
.python-image{
    width: 25%;
    float: right;
    margin-left: 30px;

}
.top-container {
    padding-top: 100px;
    position: relative;
    background-color: #EAF6F6
}

.middle-container {
    margin: 100px auto;



}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;


}



.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;


}


.footer-link{
    color: #11999E;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.footer-link:hover{
    color: brown;

}



.btn {
    margin: 50px auto auto;
    background-color: #66BFBF;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    border: solid #337FED 1px;
    background: #a4ebf3;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 8px;
    text-decoration: none;
}

.copyright{
    color: #EAF6F6;
    padding: 20px 0;
}






